<nav>
  <app-linked-image routerLink="/personalDashBoardItem" title="Investment Portfolio" Imagesrc="assets\img\angular.svg"></app-linked-image>
  <app-linked-image routerLink="/personalDashBoardItem" title="Investment Portfolio" Imagesrc="assets\img\angular.svg"></app-linked-image>
  <app-linked-image routerLink="/personalDashBoardItem" title="Investment Portfolio" Imagesrc="assets\img\angular.svg"></app-linked-image>  
  <app-linked-image routerLink="/personalDashBoardItem" title="Investment Portfolio" Imagesrc="assets\img\angular.svg"></app-linked-image> 
</nav>