<nav>
  <app-linked-image routerLink="/investmentPortfolio" title="Investment Portfolio" Imagesrc="assets\img\angular.svg"></app-linked-image>
  <app-linked-image routerLink="/investmentPortfolio" title="Exercise Diary" Imagesrc="assets\img\angular.svg"></app-linked-image>
  <app-linked-image routerLink="/investmentPortfolio" title="Working in Switzerland" Imagesrc="assets\img\angular.svg"></app-linked-image>  
  <app-linked-image routerLink="/investmentPortfolio" title="Coming soon..." Imagesrc="assets\img\angular.svg"></app-linked-image> 
</nav>