<p>
  Organize and plan your investments
</p>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">Current Investments</div>
    <div class="panel-body">
      <div style="display: inline-flex">
        <div style="width: 150px">
          Inv Type
        </div>
        <div style="width: 145px">
          Inv Name
        </div>
        <div style="width: 100px">
          Amount
        </div>
        <div style="width: 130px">
          Init Price
        </div>
        <div style="width: 110px">
          Total Inv
        </div>
        <div style="width: 70px">
            RI Div
        </div>
        <div style="width: 100px">
            Dividents
        </div>
        <div style="width: 140px">
            Total Dividents
        </div>
        <div style="width: 100px">
            Years
        </div>
        <div style="width: 100px">
            Total benefits
        </div>
      </div>
      <app-investment-item *ngFor="let investmentItem of investmentList$ | async" [investment]="investmentItem" (RemoveClick)="onRemoveClick($event)"></app-investment-item>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Future Investments</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>