<p>
  Organize and plan your investments
</p>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-custom">Current Investments</div>
    <div class="panel-body">
      <div class="container" style="width: 500px">
        <div class="row">
                Investment Item

                Amount

                Initial  Total Investment
                Initial  Total Investment
        </div>

        <div class="row">
            <app-investment-item></app-investment-item>
        </div>
      </div>
      
      
      

    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Future Investments</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>